# Файлы и папки PyInstaller
/dist/
/build/
*.spec

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.vscode/
.idea/

# Папки, управляемые лаунчером
/python_runtime/
/app_src/
app_update.zip

# Файлы антизапрета (пользовательские данные)
zapret-discord-youtube*