# Файлы и папки PyInstaller
/dist/
/build/
*.spec

# Временный файл версии
_version.py

# Временная папка для обновлений
_update_temp/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.vscode/
.idea/

# Файлы антизапрета (пользовательские данные)
zapret-discord-youtube*